<footer class="site-footer">
  <div class="container footer-inner">
    <div class="footer-col">
      <h3>
        <%= t('footer.about_title') %>
      </h3>
      <p>
        <%= t('footer.about_desc') %>
      </p>
    </div>
    <div class="footer-col">
      <h4>
        <%= t('footer.links_title') %>
      </h4>
      <ul>
        <li><a href="<%= rootPath %><%= locale %>/about.html">
            <%= t('footer.intro') %>
          </a></li>
        <li><a href="<%= rootPath %><%= locale %>/privacy.html">
            <%= t('footer.policy') %>
          </a></li>
      </ul>
    </div>
    <div class="footer-col">
      <p>
        <%= t('footer.copyright') %>
      </p>
    </div>
  </div>
</footer>