<footer class="site-footer">
  <div class="container footer-inner">
    <div class="footer-col">
      <h3>
        <%= t('footer.about_title') %>
      </h3>
      <p>
        <%= t('footer.about_desc') %>
      </p>
    </div>
    <div class="footer-col">
      <h4>
        <%= t('footer.links_title') %>
      </h4>
      <ul>
        <li><a href="<%= rootPath %><%= locale %>/about/">
            <%= t('footer.intro') %>
          </a></li>
        <li><a href="<%= rootPath %><%= locale %>/privacy/">
            <%= t('footer.policy') %>
          </a></li>
        <li><a href="<%= rootPath %><%= locale %>/terms/">
            <%= t('footer.terms') %>
          </a></li>
        <li><a href="https://github.com/ph4n4n/ztools.site-public" target="_blank" rel="noopener noreferrer">
            GitHub Source
          </a></li>
      </ul>
    </div>
    <div class="footer-copyright">
      <span>
        <%= t('footer.copyright') %>
      </span>
      <span>ZTools v<%= packageVersion || '1.2.0' %></span>
    </div>
  </div>
</footer>